p {
  color: navy;
  text-indent: 30px;
  text-transform: uppercase;
}

#h-main {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 480;
  width: 640;
}

#h-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#h-screen {
  /*position: fixed;*/
  z-index: -1;
  height: 480;
  width: 640;
  aspect-ratio: 640/480;
}

body {
  /*margin: 0;
  padding: 0;*/
  width: 800;
  background-color: rgba(0, 0, 0, 0.05);
}
